#container {
    text-align: center;
}

#header {
    margin-bottom: 3em;
    margin-top: 2em;
}
#header h3 {
    color: darkgrey;
    font-size: 1em;
} #header a {
    color: darkgrey;
    font-weight: 700
}

#citationBox {
    display: inline-block;
    float: left;
    margin-left: 15%;
    width: 30%;
} #citationBox #citations {
    border: 1px solid darkgrey;
    padding: 20px;
    border-radius: 15px;
    margin-top: 1.5em;
    list-style: none;
} #citationsResetButton {
    margin-top: 1em;
}

#col2 {
    display: inline-block;
    float: right;
    margin-right: 15%;
    width: 30%
}

#creationForm {
    border: 1px solid darkgrey;
    padding: 0 20px 20px;
    border-radius: 15px;
    margin-top: 1.5em;
} #formButtons {
    margin-top: 50px;
} #creationForm label {
    margin-top: 20px;
}

#autoCiteForm {
    padding: 20px;
    padding-top: 0;
    border-radius: 15px;
    margin-top: 1.5em;
    overflow: auto;
} #autoCiteForm label {
    float: left;
}

#adSpace p {
    font-size: 0.5em;
} #adSpace img {
    height: 200px;
    width: 100%;
} #adSpace {
    margin-top: 2em;
}
#dropDownButton{
    background: transparent;
    border: none !important;
}
#dropDownButton:hover{
    background-color: grey;
}
